<footer class="footer" id="contact">
  <div class="container" data-aos="fade-up"
     data-aos-easing="linear"
     data-aos-duration="1500">
    <div class="logo-wrapper">  
  <a class="nav-logo-icon" href="./index.html" aria-label="Site logo" >
    DAYA 
  </a>
  </div>
  <ul class="footer-list"> 
    <li class="footer-list-item active">
      <a class="footer-link" href="#about"> про мене</a>
    </li>
    <li class="footer-list-item active"> 
      <a class="footer-link" href="#projects"> проєкти</a>
     </li>
    <li class="footer-list-item active">
      <a class="footer-link" href="#faq">FAQ </a>
     </li>
    <li class="footer-list-item active">
      <a class="footer-link" href="#reviews"> відгуки </a>
     </li>
    <li class="footer-list-item active">
      <a class="footer-link" href="#contact"> контакти </a>
    </li>
  </ul>
  <div class="footer-container"> 
  <div class="footer-list-cont"> 
  <p class="footer-text"> Телефон для зв'язку: </p>
  <p class="footer-text-two"> +38 (050) 997-84-27 </p>
  <a class="footer-button" href="tel:+380509978427"> ЗВ’ЯЗОК </a>
  </div>
  </div>
  <div class="footer-social">
  <a href="https://t.me/diana_olegovna25" aria-label="Telegram Diana" rel="noopener noreferrer" target="_blank"> 
  <svg class="footer-svg" width="32" height="32">
    <use href="./img/webp/symbol-defs.svg#icon-telegram"></use>
  </svg>
  </a>
  <a href="viber://chat?number=+380509978427" aria-label="Viber чат" rel="noopener noreferrer" target="_blank">
  <svg class="footer-viber" width="32" height="32">
    <use href="./img/webp/symbol-defs.svg#icon-whatsapp"></use>
  </svg>
  </a>
  <a href="https://www.instagram.com/diana_olegovna____?igsh=MWZndDJzaDNtaG8zOQ=="  aria-label="Instagram профіль" rel="noopener noreferrer" target="_blank"> 
  <svg class="footer-svg" width="32" height="32">
    <use href="./img/webp/symbol-defs.svg#icon-instagram-2"></use>
  </svg>
  </a>
  </div>
  <p class="footer-paragraph">Designed & developed by DAYA </p>
  </div>
</footer>
