<!-- Hero section  --> 
<section class="hero-section"> 
    <div class="container"> 
        <h1 class="hero-title">
            Сучасні та доступні <br> <span class="hero-span"> сайти</span> для вашого </br>
            <span class="hero-one-span"> бізнесу </span> 
        </h1>

       
        <a class="hero-button" href="tel:+380509978427">
            Замовити консультацію
        </a>
        <svg class="hero-hand" width="24" height="24">
            <use href="./img/webp/symbol-defs.svg#icon-point-left"></use>
        </svg>
        
        <div class="hero-description"> 
            <p class="hero-paragraph"> Перетворюю ідеї на <span class="hero-two-span"> стильні </span> та 
                <span class="hero-two-span"> ефективні </span> сайти, що <span class="hero-two-span"> привертають увагу, </span> <span class="hero-two-span"> залучають клієнтів </span> і <span class="hero-two-span">приносять прибуток. </span> </p>
            <p class="hero-paragraph"> Готова створити для вас <span class="hero-two-span"> унікальний веб-продукт, </span> який
                <span class="hero-two-span"> працює на результат!</span> </p>
        </div>
    </div>
</section>

<!-- About me section -->
 <section class="about-me-section" id="about"> 
    <div class="container"> 
        <div class="about-me" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine"> 
        <img class="about-me-photo" loading="lazy" src="../img/webp/my-photo.jpg" alt="My photo" width="275" height="330">
        </div>
        <h2 class="about-me-title"> Привіт! Я Діана. </h2>
        <p class="about-me-paragraph"> Я – <span class="hero-two-span"> веб-розробниця, </span> яка створює сучасні, швидкі та адаптивні сайти. Моя мета – зробити
        <span class="hero-two-span"> якісний сайт </span> <span class="hero-span-about"> доступним</span>  для
            кожного</p>
        </div>
        
        <div class="about-me-wrapper" data-aos="zoom-out-right" data-aos-duration="3000">
            <div class="about-me-item">
                <div class="about-me-number">01</div>
                <p class="about-me-text">
                    Розробка сайтів на HTML, CSS, <span class="highlight">JavaScript</span>
                </p>
            </div>
            <div class="about-me-item">
                <div class="about-me-number">02</div>
                <p class="about-me-text">Адаптивний дизайн для мобільних пристроїв</p>
            </div>
            <div class="about-me-item">
                <div class="about-me-number">03</div>
                <p class="about-me-text">
                    <span class="highlight">Оптимізація</span> швидкості та SEO
                </p>
            </div>
            <div class="about-me-item">
                <div class="about-me-number">04</div>
                <p class="about-me-text">
                    Розробка дизайну, що відображає <span class="highlight">особливості</span> вашого бізнесу
                </p>
            </div>
            <div class="about-me-item">
                <div class="about-me-number">05</div>
                <p class="about-me-text">
                    Індивідуальний підхід до кожного <span class="highlight">клієнта</span>
                </p>
            </div>
        </div>

    </div>
 </section>

<!-- Projects section -->
<section class="projects-section" id="projects"> 
    <div class="container"> 
        <h2 class="projects-title">Проекти</h2>
        <div class="swiper projects-swiper"  data-aos="zoom-out-left" data-aos-duration="3000">
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <a class="projects-link" href="https://dianaolegivna.github.io/montana_garage/"  target="_blank" rel="noopener noreferrer">
                    <img class="projects-img" loading="lazy" src="./img/webp/MontanaGarage.jpg" alt="Business projects">
                    </a>
                    <a class="projects-button" href="https://dianaolegivna.github.io/montana_garage/"  target="_blank" rel="noopener noreferrer"> Для бізнесу</a>
                    <p class="projects-paragraph"> У цьому проекті я самостійно розробила дизайн сайту, погоджуючи кожен етап із замовником. Також повністю реалізувала
                    сайт “під ключ” — зробила його адаптивним (тобто зручним для перегляду з телефону, планшета чи комп’ютера) та
                    використала сучасні технології для швидкої й стабільної роботи. </p>
                </div>
                <div class="swiper-slide">
                    <a class="projects-link" href="https://yuliiasheremeta.github.io/team-portfolio-project/"  target="_blank" rel="noopener noreferrer">
                    <img class="projects-img" loading="lazy" src="./img/webp/Projects.jpg" alt="Command project">
                    </a>
                    <a class="projects-button" href="https://yuliiasheremeta.github.io/team-portfolio-project/"  target="_blank" rel="noopener noreferrer"> Командний </a>
                    <p class="projects-paragraph">Я відповідала за реалізацію секції “Projects”, в якій представлено приклади виконаних робіт. Для зручного перегляду я
                    додала слайдер (Swiper), який дозволяє гортати проєкти на будь-якому пристрої — з телефону, планшета чи комп’ютера.</p>
                </div>
                <div class="swiper-slide">
                    <a class="projects-link" href="https://mafsida.github.io/green-harvest-team-project/"  target="_blank" rel="noopener noreferrer">
                    <img class="projects-img" loading="lazy" src="./img/webp/GreenProjects.jpg" alt="Command project"> 
                    </a>
                    <a class="projects-button" href="https://mafsida.github.io/green-harvest-team-project/"  target="_blank" rel="noopener noreferrer"> Командний </a>
                    <p class="projects-paragraph">В межах цього проекту я відповідала за створення шапки сайту (верхньої частини), де розміщується логотип, навігація та
                    кнопки. Зробила її адаптивною, зручною для користувачів на комп’ютерах і телефонах.</p>
                </div>
                <div class="swiper-slide">
                   
                    <img class="projects-img" loading="lazy" src="./img/webp/my-project.jpg" alt="My project">
                    <a class="projects-button"> Особистий </a>
                    <p class="projects-paragraph">Цей сайт я створила спеціально для того, щоб презентувати свої навички, приклади робіт і надати потенційним клієнтам всю
                    необхідну інформацію. Я самостійно розробила дизайн, реалізувала адаптивну верстку та інтегрувала всі функції, які
                    забезпечують зручний перегляд і взаємодію з сайтом.</p>
                </div>
            </div>
         
            <div class="swiper-button-prev projects-prev"></div>
            <div class="swiper-button-next projects-next"></div>
        
        </div>
    </div>
</section>



<!-- FAQ section -->
<section class="FAQ-section" id="faq"> 
    <div class="container"> 
        <div class="faq">
            <h2 class="faq-title">FAQ</h2>
            <div class="faq-item"  data-aos="zoom-out-left" data-aos-duration="3000">
                <h2 class="faq-question">
                    Скільки коштує розробка сайту?
                   
                </h2>
              <div class="details hidden">
  <p class="faq-answer">
    Я пропоную розробку  багатосторінкових сайтів  — вартість стартує від 500 $.
  </p>

  <p class="faq-answer">У цю  суму входить:</p>
  <ul>
    <li>Адаптивний дизайн під мобільні пристрої;</li>
    <li>SEO-оптимізація;</li>
    <li>До 5 основних сторінок (наприклад, Головна, Про нас…);</li>
    <li>Інтеграція з соцмережами чи мапою;</li>
  </ul>

  <p class="faq-answer">
    Ціна може змінюватись залежно від кількості сторінок, додаткового функціоналу або нестандартного дизайну.
  </p>
</div>
            </div>
            <div class="faq-item" data-aos="zoom-out-left" data-aos-duration="3000">
                <h2 class="faq-question">
                    Як замовити сайт?
                   
                </h2>
                <div class="details hidden">
                <p class="faq-answer">Просто напишіть мені – обговоримо ваш проєкт та розпочнемо роботу! 😊</p>
                </div>
            </div>
            <div class="faq-item" data-aos="zoom-out-left" data-aos-duration="3000">
                <h2 class="faq-question">
                    Чи входить дизайн у вартість сайту?
                   
                </h2>
                <div class="details hidden"> 
                <p class="faq-answer">Так! 
                    При замовленні багатосторінкового сайту ви отримуєте дизайн у подарунок!</p>
                </div>
            </div>
            <div class="faq-item" data-aos="zoom-out-left" data-aos-duration="3000">
                <h2 class="faq-question">
                    Чи маєте ви сертифікат, що підтверджує ваші навички?
                    
                </h2>
                <div class="details hidden"> 
                    <div class="faq-images">
                <img loading="lazy" src="./img/webp/Screenshot_20250403_151321_Gallery.jpg" class="faq-answer-img" alt="Certificate" width="250" height="150">
                    </div>
                </div>
            </div>
            <div class="faq-item" data-aos="zoom-out-left" data-aos-duration="3000">
                <h2 class="faq-question">
                    Які терміни розробки?
                  
                </h2>
                <div class="details hidden">
                <p class="faq-answer">Все залежить від складності проєкту:
                Багатосторінковий сайт – 7-14 днів.
                
                Точні терміни залежать від складності та побажань клієнта.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Reviews-section -->
<section class="reviews-section" id="reviews"> 
    <div class="container"> 
        <h2 class="reviews">Відгуки</h2>
        <div class="swiper reviews-swiper">
            <div class="swiper-wrapper" >
                <div class="swiper-slide"  data-aos="zoom-out-right" data-aos-duration="3000">
                    <h3 class="reviews-title">Montana  <span class="hero-span-about"> Garage</span></h3>
                    <p class="reviews-paragraph">Дуже задоволений(-а) роботою! Сайт вийшов стильним, швидким і зручним. Все виконано якісно
                        та вчасно. Рекомендую!</p>
                    <img class="reviews-photo" loading="lazy" src="./img/webp/IMG_20241211_182154_514.jpg" alt="Photo business">
                </div>
                <div class="swiper-slide"  data-aos="zoom-out-right" data-aos-duration="3000">
                    <h3 class="reviews-title-two">Цей слайд чекає на ваш відгук!</h3>
                    <img class="reviews-photo-two" loading="lazy" src="./img/webp/Clipped_image_20250416_221314.png" alt="Cute person" height="100" width="100">
                </div>
                
            </div>
          
            <div class="swiper-button-prev reviews-prev"></div>
            <div class="swiper-button-next reviews-next"></div>
        </div>

       
    </div>
</section>
 