<!-- Hero section  --> 
<section class="hero-section"> 
    <div class="container"> 
        <h1 class="hero-title">
            Сайт для вашого бізнесу 
        </h1>

            <p class="hero-paragraph"> Без зайвих витрат і складних процесів</span> 
        <div class="buttons">
        <a class="hero-button" href="tel:+380509978427">
            Дізнатися більше 
        </a>
        <a class="hero-button-two" href="">
            Послуги 
        </a>
        </div>
    </div>
</section>

<div class="slider">
    <div class="slider-track" id="track">

        <div class="card">Підтримка</div>
        <div class="card">Адаптивний дизайн</div>
        <div class="card">Швидкий сайт</div>
        <div class="card">SEO оптимізація</div>
        <div class="card">Сучасний дизайн</div>

    </div>
</div>

<!-- About me section -->
 <section class="about-me-section" id="about"> 
    <div class="container"> 
        <div class="about-me" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine"> 
        <img class="about-me-photo" loading="lazy" src="./img/webp/my-photo2.jpg" alt="My photo" width="300" height="330">
        </div>
        <h2 class="about-me-title"> Привіт! Я Діана. </h2>
        <p class="about-me-paragraph"> Я – <span class="hero-two-span"> веб-розробниця, </span> яка створює стильні, швидкі та адаптивні сайти. Моя мета – зробити
        <span class="hero-two-span"> якісний сайт </span> <span class="hero-span-about"> доступним</span>  для
            кожного.</p>
        </div>
        
        <div class="about-me-wrapper" data-aos="zoom-out-right" data-aos-duration="3000">
            <div class="about-me-item">
                <div class="about-me-number">01</div>
                <p class="about-me-text">
                    Розробка сайтів на HTML, CSS, <span class="highlight">JavaScript</span>
                </p>
            </div>
            <div class="about-me-item">
                <div class="about-me-number">02</div>
                <p class="about-me-text">Адаптивний дизайн</p>
            </div>
            <div class="about-me-item">
                <div class="about-me-number">03</div>
                <p class="about-me-text">
                    <span class="highlight">Оптимізація</span> швидкості та SEO
                </p>
            </div>
            <div class="about-me-item">
                <div class="about-me-number">04</div>
                <p class="about-me-text">
                    Розробка дизайну, що відображає <span class="highlight">особливості</span> вашого бізнесу
                </p>
            </div>
            <div class="about-me-item">
                <div class="about-me-number">05</div>
                <p class="about-me-text">
                    Індивідуальний підхід до кожного <span class="highlight">клієнта</span>
                </p>
            </div>
        </div>

    </div>
 </section>

<!-- Projects section -->
<section class="projects-section" id="projects"> 
    <div class="container"> 
        <div class="projects-container">
        <h2 class="projects-title">Проекти</h2>
        <div class="swiper projects-swiper"  data-aos="zoom-out-left" data-aos-duration="3000">
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <a class="projects-link" href="https://dianaolegivna.github.io/montana_garage/"  target="_blank" rel="noopener noreferrer">
                    <img class="projects-img" loading="lazy" src="./img/webp/MontanaGarage.jpg" alt="Business projects">
                    </a>
                    <a class="projects-button" href="https://dianaolegivna.github.io/montana_garage/"  target="_blank" rel="noopener noreferrer"> Переглянути сайт </a>
                    <p class="projects-paragraph"> Повна розробка сайту — від дизайну до фінального результату. Проект вийшов стильним, швидким і зручним для всіх
                    пристроїв. Усі етапи узгоджувала з клієнтом. </p>
                </div>
                <div class="swiper-slide">
                    <a class="projects-link" href="https://yuliiasheremeta.github.io/team-portfolio-project/"  target="_blank" rel="noopener noreferrer">
                    <img class="projects-img" loading="lazy" src="./img/webp/Projects.jpg" alt="Command project">
                    </a>
                    <a class="projects-button" href="https://yuliiasheremeta.github.io/team-portfolio-project/"  target="_blank" rel="noopener noreferrer"> Переглянути сайт </a>
                    <p class="projects-paragraph">Я відповідала за реалізацію секції “Projects”, в якій представлено приклади виконаних робіт. Для зручного перегляду я
                    додала слайдер (Swiper), який дозволяє гортати проєкти на будь-якому пристрої — з телефону, планшета чи комп’ютера.</p>
                </div>
                <div class="swiper-slide">
                    <a class="projects-link" href="https://mafsida.github.io/green-harvest-team-project/"  target="_blank" rel="noopener noreferrer">
                    <img class="projects-img" loading="lazy" src="./img/webp/GreenProjects.jpg" alt="Command project"> 
                    </a>
                    <a class="projects-button" href="https://mafsida.github.io/green-harvest-team-project/"  target="_blank" rel="noopener noreferrer"> Переглянути сайт</a>
                    <p class="projects-paragraph">В межах цього проекту я відповідала за створення шапки сайту (верхньої частини), де розміщується логотип, навігація та
                    кнопки. Зробила її адаптивною, зручною для користувачів на комп’ютерах і телефонах.</p>
                </div>
                <div class="swiper-slide">
                   
                    <img class="projects-img" loading="lazy" src="./img/webp/my-project.jpg" alt="My project">
                    <a class="projects-button"   href="tel:+380509978427" rel="noopener noreferrer"> Зв'язатися зі мною! </a>
                    <p class="projects-paragraph">Цей сайт я створила для того, щоб клієнти могли ознайомитись із моїми навичками, прикладами робіт і швидко знайти
                    потрібну інформацію. Розробила дизайн, адаптивну верстку та реалізувала всі функції для зручної взаємодії.</p>
                </div>
            </div>
         
            <div class="swiper-button-prev projects-prev"></div>
            <div class="swiper-button-next projects-next"></div>
        
        </div>
    </div>
    </div>
</section>



<!-- FAQ section -->
<section class="FAQ-section" id="faq"> 
    <div class="container"> 
        <div class="faq">
            <h2 class="faq-title">FAQ</h2>
            <div class="faq-item"  data-aos="zoom-out-left" data-aos-duration="3000">
                <h2 class="faq-question">
                    Скільки коштує розробка сайту?
                   
                </h2>
              <div class="details hidden">
  <p class="faq-answer"> Я пропоную розробку  багатосторінкових сайтів — вартість 300$. </p>
 

  <p class="faq-answer">У цю суму входить:</p>
  <ul>
    <li class="faq-answer-list">Адаптивний дизайн під мобільні пристрої;</li>
    <li class="faq-answer-list">SEO-оптимізація;</li>
    <li class="faq-answer-list">До 5 основних сторінок (наприклад, Головна, Про нас…);</li>
    <li class="faq-answer-list">Інтеграція з соцмережами чи мапою;</li>
  </ul>

  <p class="faq-answer">
    За потреби можемо підлаштувати ціну під ваш бюджет!
  </p>
</div>
            </div>
            <div class="faq-item" data-aos="zoom-out-left" data-aos-duration="3000">
                <h2 class="faq-question">
                    Як замовити сайт?
                   
                </h2>
                <div class="details hidden">

                <p class="faq-answer">Просто напишіть мені – обговоримо ваш проект та розпочнемо роботу!</p>

                </div>
            </div>
            <div class="faq-item" data-aos="zoom-out-left" data-aos-duration="3000">
                <h2 class="faq-question">
                    Чи входить дизайн у вартість сайту?
                   
                </h2>
                <div class="details hidden"> 
                <p class="faq-answer">Так! 
                    При замовленні багатосторінкового сайту ви отримуєте дизайн у подарунок!</p>
                </div>
            </div>
            <div class="faq-item" data-aos="zoom-out-left" data-aos-duration="3000">
                <h2 class="faq-question">
                    Чи маєте ви сертифікат, що підтверджує ваші навички?
                    
                </h2>
                <div class="details hidden"> 
                    <div class="faq-images">
                <img loading="lazy" src="./img/webp/Screenshot_20250403_151321_Gallery.jpg" class="faq-answer-img" alt="Certificate" width="250" height="150">
                    </div>
                </div>
            </div>
            <div class="faq-item" data-aos="zoom-out-left" data-aos-duration="3000">
                <h2 class="faq-question">
                    Які терміни розробки?
                  
                </h2>
                <div class="details hidden">
                <p class="faq-answer">Все залежить від складності проекту:
                Багатосторінковий сайт – 7-14 днів.
                
                Точні терміни залежать від складності та побажань клієнта.</p>
                </div>
            </div>
        </div>
    </div>
</section>

