/* Footer section */
.footer {
  margin-bottom: 72px;
}

.nav-logo-icon {
  display: none;
}

.footer-list {
  display: none;
}

.footer-list-cont {
  border-radius: 42px;
  padding: 26px 26px 26px 26px;
  width: 260px;
  height: 158px;
  background: #0045ff;
}

.footer-text {
  font-weight: 800;
  font-size: 23px;
  line-height: 1.30435;
  letter-spacing: -0.02em;
  color: #02033b;
}

.footer-text-two {
  font-size: 22px;
  line-height: 1.33333;
  color: #02033b;
  padding-top: 20px;
  padding-bottom: 42px;
}

.footer-button { 
  background: #fff;
  font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #02033b;
    border: none;
    box-shadow: 3px 3px 0 0 #2e2f35;
    background: #fff;
    border-radius: 12px;
    cursor: pointer;
    width: 136px;
    height: 44px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
