/* Footer section */
.footer {
  margin-bottom: 72px;
  position: relative;
}

.footer-svg { 
fill: #0045ff;
margin-left: 35px;
  margin-right: 40px;
 
}

.footer-viber { 
  fill: #0045ff;

}

.nav-logo-icon {
  display: none;
}

.footer-list {
  display: none;
} 

.footer-paragraph { 
  display: none;
}

.footer-container { 
display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-list-cont {
display: flex;
  align-items: flex-start;
  flex-direction: column;
    padding: 6px 6px 6px 6px;
    width: 302px;
    height: 192px;
      color: #000;
      border-radius: 12px;
      
      background-color: #E9EBED;
        box-shadow:
          0 0 4px rgba(255, 0, 255, 0.5),
          0 0 8px rgba(0, 255, 255, 0.5),
          inset 0 0 5px rgba(255, 255, 255, 0.4);
      transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.footer-text {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.30435;
  letter-spacing: -0.02em;
  color: #333333;
  
  margin-top: 16px;
  margin-left: 32px;
  text-transform: uppercase;
}

.footer-text-two {
  font-weight: 500;
    font-size: 18px;
    line-height: 1.33333;
    color: #333333;
    margin-left: 32px;
    margin-top: 16px;
  text-align: center;
}

.footer-button { 
  font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #333333;
    border: none;
    box-shadow: 2px 2px 0 0 #333333;
    background: #fff;
    border-radius: 12px;
    cursor: pointer;
    width: 136px;
    height: 44px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus { 
  background: #3d51ff;
  color:#fff;
}

.footer-social { 
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) { 
.nav-logo-icon {
    display: flex;
    margin-bottom: 60px;
    font-size: 24px;
  }

  .footer-list {
      display: flex;
      flex-direction: column;
  }

  .footer-list-item { 
    color: white;
      font-size: 18px;
      margin: 10px 0;
      display: flex;
      align-items: center;
      gap: 10px;
      position: relative;
  }

    .footer-list-item::before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 2px;
      background-color: rgb(255, 255, 255);
      flex-shrink: 0;
      transition: background-color 0.3s ease;
    }
  
    .footer-list-item.active::before {
      background-color: #3d51ff;
    }

    .footer-container { 
      position: absolute;
      top: -5%;
      left: 40%;
    }

    .footer-list-cont { 
      width: 436px;
        height: 198px;
      padding: 4px 4px 4px 4px;
    }

     .footer-social { 
      position: absolute;
        top: 65%;
        left: 36%;
     }

      .footer-paragraph { 
          display: flex;
         transform: translateX(40%);
         color: #2b2b2b;
      }

      .footer-link { 
        color:#2b2b2b;
      }


            .footer-link:hover,
            .footer-link:focus {
              background: linear-gradient(145deg, #ff00ff, #00ffff);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
  
}

@media only screen and (min-width: 1440px) { 
  .footer-social {
      position: absolute;
      top: 0%;
      left: 10%;
    }
    .footer-paragraph {
    transform: translateX(10%) translateY(-800%);

    }

   .footer-list-cont { 
    height: 180px;
   }

   .footer-list { 
      transform: translateX(40%);
   }

     .footer-container {
       position: absolute;
       top: -5%;
       left: 60%;
     }
    
     .logo-wrapper {
       transform: translateX(40%);
     }

        .nav-logo-icon {
          display: flex;
          margin-bottom: 40px;
          
        }
}