/* Hero section */

.hero-section  {
        margin-bottom: 72px;
    }

.hero-title {
    font-size: clamp(24px, 10vw, 38px);
    max-width: 400px;
        line-height: 2.1;
    color: #fff;
}

.hero-one-span { 
margin-left: 115px;
}

.hero-hand { 
    fill: #fff;
    margin-left: 50px;
}

.hero-span {
    background-color: #0045FF;
    color: #fff;
    padding: 2px 4px;
    position: relative;
}

.hero-button { 
    background-color: #0045FF;
    border: none;
    color: #fff;
        font-size: 18px;
        line-height: 1.38889;
    margin-bottom: 50px;
    padding: 4px 4px;
}

.hero-hand { 
    
        margin-left: 10px;
        animation: poke 1s infinite;
}

@keyframes poke {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    30% {
        transform: translateX(6px) rotate(0deg);
    }

    60% {
        transform: translateX(0) rotate(0deg);
    }

    100% {
        transform: translateX(0) rotate(0deg);
    }
}

.hero-span::after {
content: "";
    position: absolute;
    left: 0%;
    top: 30px;
    transform: translateX(0%) rotate(180deg);
    width: 1px;
    background-color: #fff;
    height: clamp(120px, 10vw, 120px);
        
}

.hero-paragraph { 
        font-size: 20px;
        line-height: 1.17073;
        color: #fff;
}

.hero-two-span { 
    font-weight: 700;
}

.hero-description {
    max-width: 400px;
    padding: 20px;
    font-size: 18px;
    line-height: 1.4;
}

.hero-description p {
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) { 
    .hero-title { 
        font-size: 48px;
        line-height: 2.26562;
        max-width: 768px;
    }

    .hero-one-span {
        margin-left: 140px;
    }

        .hero-span::after {
            top: 55px;
            transform: translateX(0%) rotate(180deg);
            height: 165px;
        }
    
        .hero-description { 
            position: absolute;
            left: 55%;
            top: 15%;
            max-width: 300px;
        }
}

@media only screen and (min-width: 1440px) { 
    .hero-title {
                font-size: 96px;
                line-height: 1.13281;
                max-width: 1440px;
        }
    
        .hero-one-span {
            margin-left: 275px;
        }

         .hero-span::after {
             content: "";
             position: absolute;
             left: 0%;
             top: 110px;
             transform: translateX(0%) rotate(180deg);
             width: 1px;
             height: 140px;
             background-color: #fff;
         }

        .hero-description {
            position: absolute;
            left: 60%;
            top: 19%;
            max-width: 300px;
        }

                .hero-button {
                    background-color: #0045FF;
                    border: none;
                    color: #fff;
                    font-size: 18px;
                    line-height: 1.38889;
                    margin-bottom: 50px;
                    padding: 6px 6px;
                }
}


/* About me */ 
.about-me-section { 
    margin-bottom: 72px;
    position: relative;
}

.about-me-photo { 
 margin:auto;
 margin-bottom: 24px;
}

.about-me-title { 
        font-size: 38px;
        line-height: 1.13372;
        margin-bottom: 12px;
}

.about-me-paragraph { 
        font-size: 22px;
        line-height: 1.06667;
        color: #fff;
        padding-bottom: 30px;
}

.hero-span-about { 
    background-color: #0045FF;
        color: #fff;
        padding: 2px 4px;
        position: relative;
}

.about-me-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.about-me-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    color: #fff;
}

.about-me-number {
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    min-width: 60px;
    line-height: 1;
}

.about-me-text {
        font-size: 20px;
        line-height: 1.17073;
    max-width: 200px;
    align-items: center;
}

.highlight {
    background-color: #0066ff;
    color: #fff;
    padding: 2px 4px;
}

@media screen and (min-width: 768px) { 
    .about-me { 
        display:flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        flex-wrap: wrap;
    }
 .about-me-title {
     font-size: 43px;
     line-height: 1.13372;
     margin: 50px;
 }

 .about-me-paragraph {
    position: absolute;
        right: 48%;
        top: 25%;
        max-width: 350px;
 }
}

@media only screen and (min-width: 1440px) { 
    .about-me-title {
            font-size: 43px;
            line-height: 1.13372;
            position: absolute;
            right: 50%;
            top: 5%;
        }
    
        .about-me-paragraph {
            position: absolute;
            right: 51%;
            top: 25%;
            max-width: 360px;
        }

        .about-me-photo {
          margin-right: 20%;
        }

        .about-me-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            padding: 50px;
            justify-items: start;
            margin: 0 80px;
        }
}

/* Projects section */
.projects-section { 
    margin-bottom: 72px;
}

.projects-swiper {
    position: relative;
}

.projects-prev,
.projects-next {
    position: absolute;
    top: 50%;
    transform: translateY(-200%);
    z-index: 10;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.projects-prev {
    left: 10px;
}

.projects-next {
    right: 10px;
}

.projects-title { 
        font-size: 45px;
        line-height: 1.17333;
        letter-spacing: -0.04em;
        text-align: center;
        margin-bottom: 24px;
}

.projects-img { 
    padding-bottom: 16px;
}

.projects-button { 
font-weight: 600;
    font-size: 13px;
    line-height: 1.18462;
    color: rgba(0, 69, 255, 0.65);
    border: 1px solid #0045ff;
    border-radius: 32px;
    padding: 4px 12px 5px 13px;
    width: 99px;
    height: 25px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.projects-paragraph { 
        font-size: 20px;
        line-height: 1.3;
        letter-spacing: -0.01em;
        padding-top: 16px;

}

@media screen and (min-width: 768px) { 
    .projects-prev,
        .projects-next {
            transform: translateY(-100%);
        }
}

@media only screen and (min-width: 1440px) { 
    .projects-prev,
        .projects-next {
            transform: translateY(-150%);
        }
}

/* Services section */
.services-section {
    margin-bottom: 72px;
}

.services-title { 
        font-size: 28px;
        line-height: 1.57258;
        color: #0045ff;
}

.services-list-title { 
        font-size: 28px;
        line-height: 1.14286;
        text-transform: lowercase;
        color: #fff;
}

.services-list-text  {
        font-size: 21px;
        line-height: 1.66667;
        color: #fff;
}

.services-list {
    padding-bottom: 32px; 
}

.services-paragraph { 
        font-size: 44px;
        line-height: 1.71875;
        color: #fff;
        background-image: url('../img/webp/Clipped_image_20250407_155005.png');
        background-size: 200px 400px;
            background-position: right;
            background-repeat: no-repeat;
}


/* FAQ section */

.FAQ-section {
    margin-bottom: 72px;
} 

.faq-item { 
    margin-bottom: 42px;
}

.faq-span { 
    color: #0045FF;
}

.faq-title { 
    margin-bottom: 24px;
        font-size: 31px;
        line-height: 1.57258;
}

.faq-question { 
        font-size: 19px;
        line-height: 1.31579;
        cursor: pointer;
        background-color: #0045ff;
            border-radius: 16px;
            padding: 16px 24px;
            margin-bottom: 20px;
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.faq-answer { 
        font-size: 20px;
        line-height: 1.25;
        max-width: 300px;
}

.details.hidden {
    display: none;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.details.show {
    display: block;
    opacity: 1;
    max-height: 800px;
}
.faq-images {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 12px;
}


@media screen and (min-width: 768px) { 
    .faq-item { 
    margin-left: 10%;
    }
    .faq-answer {
        max-width: 700px;
    }

        .faq-images {
            display: flex;
            gap: 12px;
            margin-top: 12px;
        }
}

@media only screen and (min-width: 1440px) { 
    .faq-question { 
        max-width: 700px;
    }

    .faq-answer { 
        max-width: 700px;
    }

        .faq-images {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            margin-top: 12px;
        }
   


}


/* Reviews section */

.reviews-section { 
    margin-bottom: 72px;
}

.reviews { 
        font-size: 31px;
        line-height: 1.04167;
        margin-bottom: 24px;
}

.reviews-title { 
    font-size: 34px;
        line-height: 1.13372;
        margin-bottom: 16px;
}

.reviews-paragraph { 
    font-size: 21px;
    line-height: 1.11628;
    margin-bottom: 16px;
}

.reviews-prev,
.reviews-next {
    position: absolute;
    top: 50%;
    transform: translateY(0%);
    z-index: 10;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.reviews-photo-two {
    padding-left: 40%;
    width: 200px;
    height: 200px;
} 

@media screen and (min-width: 768px) { 
.reviews-title { 
    padding-left: 12%;
}
.reviews-paragraph { 
    padding-left: 12%;
    max-width: 400px;
}

.reviews-photo { 
    padding-left: 45%;
    width: 350px;
    height: 200px;
}

.reviews-photo-two { 
    padding-left: 45%;
        width: 200px;
        height: 200px;
}


}

@media only screen and (min-width: 1440px) { 
.reviews-title {
        padding-left: 16%;
    }
.reviews-paragraph {
    padding-left: 16%;
}

.reviews-photo {
    padding-left: 50%;
    width: 550px;
    height: 330px;
}

.reviews-photo-two { 
    padding-left: 60%;
        width: 250px;
        height: 250px;
}
}






